# .npmrc 补全版
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node_sass_binary_site=https://npmmirror.com/mirrors/node-sass
python_mirror=https://npmmirror.com/mirrors/python
sharp_dist_base_url=https://npmmirror.com/mirrors/sharp-libvips/
playwright_skip_browser_download=true
