ELECTRON_BUILDER_BINARIES_MIRROR=https://npm.taobao.org/mirrors/electron-builder-binaries/ ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/ ./node_modules/.bin/electron-builder --linux
ELECTRON_BUILDER_BINARIES_MIRROR=https://npm.taobao.org/mirrors/electron-builder-binaries/ ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/ ./node_modules/.bin/electron-builder --win